.esc-38-5-244 {
    color: rgb(204, 204, 204);
}
.esc-38-5-32 {
    color: rgb(145, 204, 255);
}
.esc-38-5-209 {
    color: rgb(255, 207, 145);
}
.esc-38-37 {
    color: white;
}
.esc-38-5-230 {
    color: rgb(255, 236, 200);
}
.esc-38-5-71 {
    color: rgb(181, 240, 212);
}
.esc-38-2-209-84-84 {
    color: rgb(209, 84, 84);
}
